.sessao-atuacao {
  margin: 4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.atuacao-wrapper {
  width: 100%;
  height: 50vw;
  background-color: #ffffff99;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.sessao-atuacao h1 {
  position: absolute;
  top: -2.2rem;
  left: 2rem;
  background: #02966a;
  background: -webkit-linear-gradient(to right, #02966a, #3cb371);
  background: linear-gradient(to left, #02966a, #15a97d);
  padding: 0 3rem;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: lighter;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.sessao-atuacao form {
  margin: 4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.sessao-atuacao label {
  font-family: var(--font-action);
  font-size: 2rem;
}

.sessao-atuacao label h2 {
  color: #02966a;

}



.btn-atuacao {
  text-transform: uppercase;
  padding: 2rem;
  cursor: pointer;
  grid-column: 2;
}

@media (min-width:400px) and (max-width:600px) {
  .atuacao-wrapper {
    width: 100%;
    height: 100%;
    align-items: center;

  }

  .sessao-atuacao {
    width: 100%;
    height: 40%;
  }

  h1 {
    font-size: 1vw;
  }

  form {
    align-items: center;
  }

}