@media (max-width: 600px) {
  .sessao-header{
    will-change: scroll-position;
  }

  .menu-item li {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 600px) {
  .container {
    height: 5vh;
  }

  .hamburguer {
    display: flex;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    height: 85vh !important;
  }

  section {
    text-align: center;
  }

  .footer-content {
    position: fixed;
    bottom: 0;
    height: 5vh;
  }

  .social-list {
    height: 62%;
  }




}
