header {
    position: fixed;
    z-index: 2;
    width: 100%;


}

.menu-btn {
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 2rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

.burger {

    position: absolute;
    top: 0.5 rem;
    width: 28px;
    @include menu-icon-defaults();

}

::before {
    content: '';
    top: -8px;
    width: 28px;
    @include menu-icon-defaults();
}


::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    @include menu-icon-defaults();
}


.open {


    transform: rotate(720deg);
    background-color: transparent !important;



}








.nav {

    transition: background-color 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;
    height: 3em;

}

.menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;


}

@for i from 1 through 3 {
    .menu-nav-item:nth-child(#{i}) {
        transition-delay: (i * 0.1s) + 0.15s;
    }
}