@mixin media-md {
    @media screen and (min-width: 768px) {
        @content
    }
}



@include media-md {

    .logo-container {
        z-index: 2;
        position: absolute;
        width: 30%;
    }

    .menu-btn {
        visibility: hidden;
    }

    header {
        .navbar-container {
            height: 5rem !important;
        }

        .nav {
            visibility: visible;
            display: flex;
            align-items: center;
            width: 100%;

            .menu-nav {
                visibility: visible;
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                transform: translateY(0);
                height: 5em;
                width: 20%;
                background-color: transparent;
                text-align: right;

                menu-nav-item {
                    transform: translateY(0);
                    vertical-align: middle;
                    display: inline;
                    font-size: 1em;
                }


            }
        }
    }


    .bio {
        width: 100%;

        .bio-container {
            padding: 1em;
            position: :first-letter;
            height: 100vh;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

    }

    .card {
        padding: 3em !important;
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);

        .desc-card-caption {
            font-size: 2em;
        }

    }




    footer {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
    }

}