.sessao-video {
  width: 100%;
  height: 100vh;
  background-color: darkgray;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 400px) {
  .sessao-video {
    width: 100%;
    height: 100%;
  
    flex: content;
  }
}
.video-wrapper {
  width: 60%;
  height: 80%;
  background-color: #ffffff99;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.sessao-video h1 {
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  background: #02966a;
  background: -webkit-linear-gradient(to right, #02966a, #3cb371);
  background: linear-gradient(to left, #02966a, #15a97d);
  padding: 0 3rem;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: lighter;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.sessao-video form {
  margin: 4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.sessao-video label {
  font-family: var(--font-action);
  font-size: 1.5rem;
}

.btn-video {
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  grid-column: 2;
}

.video {
  width: 100%;
  height: auto;
}
.sessao-video {
  width: 90%;
  min-width: 320px;
  margin: 0 auto;
}
/*   video   */
